/*color: rgba(0, 0, 0, 0.632);*/
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../fonts/Satoshi-Medium.woff') format('woff'),
       url('../fonts/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'Roboto Mono', monospace;
    height: 1800px;
    background-color: #000;
}

.contmenu{
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contmenu li{
    padding: 10px;
    margin: 20px;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.contmenu li:hover{
    color: rgb(127, 69, 235);
    border-radius: 40px;
    cursor: pointer;
}

.card1{
    src: url(./assets/fonts/Satoshi_Complete/Fonts/WEB/) format('truetype');
    border-radius: 40px;
    height: 80vh;
    max-width: 92vw;
    margin: auto;
    margin-top: 30px;
}

/*Imagem do primeiro card*/
.card1 img{
    height: 320px;
    margin-left: 70%;
    margin-top: 70px;
}

/*h1 do primeiro card*/
.card1 h1{
    color: rgb(114, 236, 250);
    font-size: 100px;
    font-weight: 800;
    max-width: 50vw;
    position: relative;
    bottom: 340px;
    left: 40px;
}

.card1 p{
    color: rgb(255, 255, 255);
    font-size: 40px;
    max-width: 50vw;
    margin-top: 15px;
    position: relative;
    bottom: 300px;
    left: 40px;
}

.container02{
    background-color: rgba(255, 255, 255, 0.071);
    height: 80vh;
    max-width: 92vw;
    margin: auto;
    margin-top: 20px;
}

.container02 img{
    height: 280px;
    border-radius: 76% 24% 62% 28% / 36% 68% 32% 64%;
    margin-top: 40px;
    margin-left: 20px;
}

.container02 h2{
    font-size: 60px;
    position: relative;
    bottom: 270px;
    left: 320px;
}

.container02 p{
    font-size: 20px;
    width: 60vw;
    position: relative;
    bottom: 210px;
    left: 320px;
}

.logosCont{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item img{
    height: 85px;
    width: 6vw;
    position: relative;
    bottom: 120px;
    padding: 10px;
    transition: all .2s ease-out
}

.item img:hover{
    height: 85px;
    width: 6vw;
    transition: all .2s ease-in-out;
    position: relative;
    bottom: 130px;
    
}
